@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 80%;
        max-width: none;
        transform: translateX(-100%);
        /* Ẩn mặc định trên mobile */
    }

    .header.active {
        transform: translateX(0);
        /* Hiện khi click nút bars */
    }

    .bars-icon {
        display: block;
    }
}